site_name: Hymple Docs
site_description: Official documentation for Hymple
site_author: Hymple Team

theme:
  name: material
  language: en
  features:
    - navigation.footer

nav:
  - Home: index.md
  - Introduction: introduction.md

markdown_extensions:
  - admonition
  - toc:
      permalink: true
