site_name: Hymple Exchange Documentation
site_url: https://hy-mple.github.io/hymple.docs/
use_directory_urls: false

nav:
  - Home: index.md
  - Introdução: introduction.md

theme:
  name: material
  language: pt-BR

extra_css:
  - stylesheets/extra.css

markdown_extensions:
  - admonition
  - attr_list
  - md_in_html
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:material.extensions.emoji.to_svg
  - tables

plugins:
  - search