site_name: Exemplo MkDocs Produção
site_url: https://example.com


nav:
- Get Started: index.md
- Introdução: introduction.md


theme:
name: material
language: pt-BR
features:
- navigation.instant
- navigation.sections
- navigation.expand
- navigation.tracking
- navigation.top
- content.cards


extra_css:
- assets/extra.css


markdown_extensions:
- admonition
- attr_list
- md_in_html
- pymdownx.superfences
- pymdownx.details