site_name: Hymple Docs
site_description: Official documentation for Hymple
site_author: Hymple Team

theme:
  name: material
  language: en
  palette:
    scheme: slate
  features:
    - navigation.expand
    - navigation.footer
    - content.code.copy

nav:
  - Home:
      - Overview: index.md
  - Introduction:
      - Getting Started: introduction.md

markdown_extensions:
  - toc:
      permalink: true
