site_name: Hymple Docs
site_url: https://seusite.com
nav:
  - Home: index.md

theme:
  name: material
  language: pt-BR

markdown_extensions:
  - admonition
  - codehilite
  - toc:
      permalink: true
